@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background: #FF00FF url("../../images/seamless_dirt_texture_by_hhh316.jpg") repeat center center;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 261px;
	border-style: none;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 763px;
	background: transparent url("../../images/seamless_dirt_texture_by_hhh316-page-fr.png") no-repeat left top;
}

#menuu1372
{
	z-index: 2;
	width: 768px;
	margin-right: -10000px;
	margin-top: 128px;
}

#u1397
{
	width: 190px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1398
{
	width: 190px;
	padding-bottom: 12px;
}

#u1390
{
	width: 190px;
	min-height: 34px;
	margin-right: -10000px;
	left: 192px;
}

#u1391
{
	width: 190px;
	padding-bottom: 12px;
}

#u1401-4,#u1394-4
{
	width: 190px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1448
{
	width: 191px;
	min-height: 34px;
	margin-right: -10000px;
	left: 384px;
}

#u1451
{
	width: 191px;
	padding-bottom: 12px;
}

#u1543
{
	width: 191px;
	min-height: 34px;
	margin-right: -10000px;
	left: 577px;
}

#u1546
{
	width: 191px;
	padding-bottom: 12px;
}

#u1398.MuseMenuActive,#u1391.MuseMenuActive,#u1451.MuseMenuActive,#u1546.MuseMenuActive
{
	margin: 0px;
}

#u1454-4,#u1548-4
{
	width: 191px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1415
{
	z-index: 27;
	width: 1044px;
	margin-right: -10000px;
	margin-top: -89px;
	left: -100px;
}

#u1420-4
{
	z-index: 28;
	margin-right: -10000px;
	margin-top: 80px;
}

#u1417-4
{
	z-index: 32;
	margin-right: -10000px;
	margin-top: 51px;
	left: 477px;
}

#u1419-4
{
	z-index: 36;
	margin-right: -10000px;
	margin-top: 64px;
	left: 220px;
}

#u1416-4
{
	z-index: 40;
	margin-right: -10000px;
	left: 763px;
}

#u1418-4
{
	z-index: 44;
	margin-right: -10000px;
	margin-top: 103px;
	left: 387px;
}

#page .verticalspacer
{
	clear: both;
}

